// Add here all your customized variables

// Font Families
$fontPath: "../fonts";
$imgPath: "../img";

//
// Colors
//

// Main Colors
$g-color-primary: #6ab8ee;
$g-color-main: #313131;
$g-color-black: #3d3d3d;;

$g-color-grey: #a9a9a9;
$g-color-grey-v2: #7f8182;;
$g-color-grey-v3: #979797;;
$g-color-red: #e64443;
$g-color-pink: #ed1966;
$g-color-green: #0ed39e;
$g-color-purple: #bd7dea;

$g-color-text: #89949b;
$g-color-secondary-light-v1: #f0f1f3;
$g-color-secondary-light-v2: #ecedee;

// Background Colors
$g-bg-main: #12222d;
$g-bg-secondary: #fafbfc;
$g-bg-green: #0ed39e;
$g-bg-cream: #fbbd8b;
$g-bg-pink: #ed1966;
$g-bg-red: #e64443;




